nav {
    background-color: $main_colour;
    height: 80px;
    margin-bottom: 0;
    .logo{
        color:$white_text !important;
    }
    .nav-links{
        padding: 10px 22px 10px 22px;
        :hover{
            border-bottom: 2px solid white;
            transition: all 0.5
        }
        .navlink-item{
            color: $white_text;
            text-decoration: none;
        }
    }
   
}