nav {
    background-color: $white_text;
    height: 80px;
    margin-bottom: 0;
    .logo{
        color:$dark_text !important;
    }
    .nav-links{
        padding: 10px 22px 10px 22px;
        :hover{
            border-bottom: 2px solid rgb(28, 27, 27);
            transition: all 0.5
        }
        .navlink-item{
            color: $dark_text;
            text-decoration: none;
        }
    }
   
}