$main_colour:#141515;
$main_colour_dark:#35373a;
$dark_text:#4a5258;
$dark_text_b:#333a3f;
$white_text:#ffffff;
$transparent_button:#4D617E;
$hover_text:#39586a;
$paragrap_text:16px;
$logo_text:24px;
$nav-links:20px;
$button-red:rgba(167, 8, 8, 0.743);
$button-green:rgb(26, 91, 26);